name: Fatih Dylib Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV
          echo "~/theos/bin" >> $GITHUB_PATH

      - name: Extract Files
        run: unzip BilalMod.zip

      - name: Build Tweak
        run: |
          make package FINALPACKAGE=1
          
      - name: Upload Dylib
        uses: actions/upload-artifact@v3
        with:
          name: Fatih-Hile-Dosyasi
          path: .theos/obj/debug/*.dylib
